.App {
  padding: 30px;
  display: flex;

  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(11,9,121,1) 35%, rgba(0,212,255,1) 100%);
  min-height: 100vh;
}

.App > div {
  margin-right: 50px;
}
.error {
  color: red;
}
.errorBorder{
  border: 2px solid red;
}
.active-filter{
  background: #d16ae3;
}
.opacity{
  opacity: 0.33;
}